<div class="graph">
  <h2 class="graph">Graph: {% include "jvmg/object_link.html" with object=graph.info%}<a class="graph_toggle" href="#"></a></h2>
  <table>
    <th>Property</th><th>Value</th>
    {% for predicate in graph.predicates %}
    {% if predicate.num_objects > 0 %}
    <tr>
      <td>
        {% include "jvmg/predicate_link.html" with predicate=predicate %}
      </td>
      <td>
        {% if predicate.num_objects == 1 %}
          {% include "jvmg/object_link.html" with object=predicate.objects.0 %}
        {% else %}
        <ul>
          {% for object in predicate.objects %}
          <li>
            {% include "jvmg/object_link.html" with object=object %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </td>
    </tr>
    {% endif %}

    {% if predicate.num_blank_nodes > 0 %}
    <tr>
      <td>
        {% include "jvmg/predicate_link.html" with predicate=predicate %}
      </td>
      <td>
        {% for blank_node in predicate.blank_nodes %}
        {% include "jvmg/blank_node.html" with blank_node=blank_node %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
</div>
