<!DOCTYPE html>
{% load static %}


<html lang="en" class="search">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'jvmg/styles.css' %}">
    <script rel="javascript" src="{% static 'jvmg/scripts.js' %}"></script>

    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>JVMG-Search</title>
  </head>
  <body>
    <h1 class="search">JVMG-Search</h1>
    <nav>
      <a href="#" class=switch-mode>
        <span class=text-for-light>Light Mode</span>
        <span class=text-for-dark>Dark Mode</span>
      </a>
    </nav>
    <form action="{% url 'search' %}" method="GET">
      <div class="searchfield">
        <input type="search" name="search" value="{{search}}"/>
        <button class="button" name="btn" value="search">search</button>
        <button class="button" name="btn" value="phrase">match phrase</button>
      </div>
      <div class="fieldsets">
        {% for facet_name, facet in aggs.items %}
        <fieldset name={{facet_name}}>
          <legend>{{facet_name}}</legend>
          {% for bucket in facet.buckets %}
          {% if bucket.key in checked %}
          <input type="checkbox" name="{{facet_name}}" id="{{bucket.key}}" value="{{bucket.key}}" checked>
          {% else %}
          <input type="checkbox" name="{{facet_name}}" id="{{bucket.key}}" value="{{bucket.key}}">
          {% endif %}
          <label for="{{bucket.key}}">
            <span>{{bucket.key}}</span> <span>({{bucket.doc_count}})</span></label><br>
          {% endfor %}
        </fieldset>
        {% endfor %}
      </div>
    </form>
    <div class="search" name="searchResults"></div>
  </body>
</html>

<script>
  let currentPage = 0
  let search_type = "{{search_type}}"

  let form = document.querySelector("form")
  form.addEventListener("change", event => {
    if (event.target.type == "checkbox"){
      deleteSearchResults()
      currentPage = 0
      loadNewResults()
    }
  })

  function deleteSearchResults(){
    const tables = document.querySelectorAll('div[name="searchResults"] table');
    if (tables) {
      for (table of tables){
        table.remove()
      }
    }
  }

  function createTablesForObjects(dataList) {
    const container = document.querySelector('div[name="searchResults"]')

    for (const item of dataList) {
      const table = document.createElement('table');
      const tbody = document.createElement('tbody');

      // Create a row for each key-value pair
      for (const [key, value] of Object.entries(item)) {
        const row = document.createElement('tr');

        // First column (keys)
        const keyCell = document.createElement('td');
        keyCell.textContent = key;
        row.appendChild(keyCell);

        // Second column (values)
        const valueCell = document.createElement('td');
        if(key == "uri"){  // special case for uri, to create a link
          const a = document.createElement("a")
          a.href = value
          a.textContent = value
          valueCell.appendChild(a)
        } else {
          if (Array.isArray(value)) {
            // If the value is a list, create an unordered list
            const ul = document.createElement('ul');
            for (const listItem of value) {
              const li = document.createElement('li');
              li.innerHTML = listItem;
              ul.appendChild(li);
            }
            valueCell.appendChild(ul);
          } else {
            // Otherwise, display the value directly
            valueCell.innerHTML = value;
          }
        }

        row.appendChild(valueCell);

        tbody.appendChild(row);
      }

      table.appendChild(tbody);
      container.appendChild(table);
    }

    return container;
  }

  function updateCheckboxCounters(facets){
    for (fieldset of document.querySelectorAll('fieldset')){
      for (label of fieldset.querySelectorAll('label')){
        const spans = label.querySelectorAll('span')
        if (spans[0].textContent in facets[fieldset.name]) {
          const counter = facets[fieldset.name][spans[0].textContent]
          spans[1].textContent = `(${counter})`
        } else {
          spans[1].textContent = ""
        }
      }
    }
  }

  function getCheckedCheckboxesAndSearchFields() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked')

    const obj = {}
    for (const checkbox of checkboxes) {
      if (obj[checkbox.name]) {
        obj[checkbox.name].push(checkbox.value)
      } else {
        obj[checkbox.name] = [checkbox.value]
      }
    }

    const searchField = document.querySelector('input[type="search"]')

    return {search: searchField.value, checkboxes: obj}
  }

  function sendJSON(json) {
    const url = "/applications/get_search_page"

    const options = {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(json)
    }

    fetch(url, options)
      .then((response) => {
        if (!response.ok) {
          throw new Error('Network response was not ok')
        }
        return response.json()
      })
      .then((data) => {
        const table = createTablesForObjects(data["hits"])
        document.querySelector("body").appendChild(table)
        updateCheckboxCounters(data["facets"])
      })
      .catch((error) => {
        console.error('There was a problem with the fetch operation:', error)
      })
  }

  function loadNewResults() {
    params = getCheckedCheckboxesAndSearchFields()
    params["page"] = currentPage
    params["search_type"] = search_type
    console.log(params)
    sendJSON(params)
    currentPage += 1
  }

  function checkForPageEnd() {
    const endOfPage = window.innerHeight*1.5 + window.pageYOffset >= document.body.offsetHeight

    if (endOfPage) {
      loadNewResults()
    }
    window.addEventListener("scroll", checkForPageEnd, {passive: true, once: true})
  }

  window.addEventListener("scroll", checkForPageEnd, {passive: true, once: true})
  loadNewResults()

</script>
